@use "../../shared/finance";

/* =========================================================
   CORRECTION DES SELECTS
   ========================================================= */

select {
  color: #0f172a;
  background-color: #ffffff;
}

select option {
  color: #0f172a;
  background-color: #ffffff;
}

.modal select {
  color: #0f172a;
  background-color: #ffffff;
}

.modal select option {
  color: #0f172a;
  background-color: #ffffff;
}
